.allusers_numberpage {
    background: transparent;
    border: 1px solid #151317;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    max-width: 40px;
    width: 100%;
    height: 40px;
    color: #151317;
    margin-right: 20px;
}

.allusers_numberpage:not(:last-child) {
    margin-right: 20px;
}

.allusers_onpage {
    background: transparent;
    border: 1px solid #151317;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    padding: 8px 16px 8px 16px;
}

.allusers_pagination {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 70px;
    justify-content: space-evenly;
}