 .list__like {
     align-self: flex-end;
 }
 
 .list__username {
     text-align: center;
 }
 
 .list {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 
 .list__ul {
     width: 100%;
     margin-top: 48px;
     padding-left: 80px;
     padding-right: 60px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 
 .list__li {
     max-width: 305px;
     width: 100%;
     height: 263px;
     box-shadow: 0px 0.9960451126098633px 3.984180450439453px 0px #33333326;
     border-radius: 10px;
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 20px;
     cursor: pointer;
     margin-right: 20px;
 }
 
 .list__img {
     border-radius: 60px;
     width: 124px;
     height: 124px;
     margin-bottom: 16px;
 }
 
 .list__textusername {
     font-size: 20px;
     font-weight: 400;
     line-height: 23px;
     color: #151317;
     margin-bottom: 16px;
 }
 
 @media(max-width:790px) {
     .list__li {
         margin-right: 0px;
     }
     .list__ul {
         flex-direction: column;
         padding-left: 0px;
         padding-right: 0px;
     }
     .list__li {
         align-self: center;
     }
 }