   .allusers_header {
       width: 100%;
       background: #512689;
       height: 265px;
       display: flex;
       padding-right: 70px;
       padding-left: 70px;
       padding-top: 30px;
       flex-direction: column;
   }
   
   .allusers_h1 {
       font-size: 64px;
       font-weight: 400;
       line-height: 75px;
       color: #FFFFFF;
       margin-bottom: 16px;
   }
   
   .allusers_text {
       font-size: 20px;
       font-weight: 400;
       line-height: 23px;
       max-width: 846px;
       width: 100%;
       color: #FFFFFF;
       align-items: center;
   }
   
   .allusers_exitbutton {
       background: transparent;
       padding: 8px 16px 8px 16px;
       border-radius: 8px;
       border: 1px solid #F8F8F8;
       color: #F8F8F8;
       align-self: flex-end;
       cursor: pointer;
   }
   
   .allusers_exitbuttonsvg {
       display: none;
       align-self: flex-end;
   }
   
   .allusers_content {
       align-self: center;
       text-align: center;
   }
   
   @media (max-width: 1078px) {
       .allusers_h1 {
           font-size: 36px;
           line-height: 42.19px;
           margin-bottom: 16px;
       }
       .allusers_text {
           font-size: 16px;
           line-height: 18.75px;
           max-width: 646px;
       }
   }
   
   @media (max-width: 876px) {
       .allusers_text {
           max-width: 334px;
       }
   }
   
   @media ( max-width: 576px) {
       .allusers_exitbutton {
           align-self: center;
       }
   }
   
   @media (max-width: 405px) {
       .allusers_exitbutton {
           display: none;
       }
       .allusers_exitbuttonsvg {
           display: block;
       }
       .allusers_header {
           padding-right: 16px;
           padding-left: 16px;
           padding-top: 16px;
       }
   }